.creator-card {
  width: 250px;
  background-color: #a89f9f;
  color: #0b1764;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  
}

.creator-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.creator-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.creator-info {
  padding: 0.8rem 1rem;
  flex-grow: 1;
}

.creator-info h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.creator-info p {
  font-size: 0.9rem;
  color: #14153e;
}

.creator-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  background-color: #6f5858;
}

.btn {
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  transition: background 0.3s;
}

.btn-view { background-color: #389f76; }
.btn-view:hover { background-color: #94a4ae; }

.btn-edit { background-color: #bb9353; }
.btn-edit:hover { background-color: #d35400; }

.btn-visit { background-color: #1e442e; }
.btn-visit:hover { background-color: #b3e4c7; }


.creator-card img {
  width: 240px;        
  height: 120px;       
  object-fit: contain; 
  background-color: #bfbebe; 
  padding: 5px;     
  margin-bottom: 0.5rem;
  border-radius: 8px;  
} 
.creator-card img {
  width: 240px;        
  height: 120px;     
  object-fit: contain; 
  background-color: #bfbebe; 
  padding: 5px;        
  margin-bottom: 0.5rem;
  border-radius: 8px; 
}

.btn-youtube {
  display: inline-flex;       
  align-items: center;       
  justify-content: center;    
  margin-bottom: 0.5rem;
  width: 36px;              
  height: 36px;
  border-radius: 50%;         
  background-color: #755755;  
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-youtube:hover {
  background-color: #c9c1c1;
}

.btn-youtube svg {
  width: 18px;
  height: 18px;
}
